@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  background-color: transparent;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.bouncing {
  font-size: 20px;
  margin-bottom: 5px;
  animation: bouncing 2s infinite;
}

@keyframes bouncing {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(3px);
  }
}

.aside::-webkit-scrollbar {
  display: none;
}

.overlay {
  display: block;
  background-color: transparent;
  backdrop-filter: blur(4px);
}

.no-overlay {
  display: none;
}